
{% assign jiaoyus = site.data.data.jiaoyu %}
{% if jiaoyus %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    教育经历
  </h2>

  {% for jiaoyu in jiaoyus %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="degree">{{ jiaoyu.degree }}</h3>
        <div class="time">{{ jiaoyu.time }}</div>
      </div><!--//upper-row-->

      <div class="university">{{ jiaoyu.university }}</div>

    </div><!--//meta-->

    {% if jiaoyu.details %}
    <div class="details">
      {{ jiaoyu.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

